In [ ]:
(lambda x,y,z: x+y-z)(10,20,30)

0

In [ ]:
a=list(range(10,45,3))
print(a)

[10, 13, 16, 19, 22, 25, 28, 31, 34, 37, 40, 43]

In [ ]:
# perform square on a
map(lambda x: x**2,a)

In [ ]:
list(map(lambda x: x**2,a))

[100, 169, 256, 361, 484, 625, 784, 961, 1156, 1369, 1600, 1849]

In [ ]:
a='abcdefghiomnop'
list(filter(lambda x:x in ['a','e','i','o','u'],a))

['a', 'e', 'i', 'o', 'o']

In [ ]:
#filter out even no. from list of numbers
numbers=[1,2,3,4,5,6]
even_num=list(filter(lambda x:x%2==0,numbers))
print(even_num)

[2, 4, 6]

In [ ]:
munbers=[2,3,4,5]
s=list((map(lambda x:x**2,numbers)))
print(s)

[1, 4, 9, 16, 25, 36]

In [ ]:
name=['vishnu singh', 'komalsingh','anuj']
length=lambda x: len(x)
print(length(name))

3

In [ ]:
list(map(lambda x:len(x),name))

[12, 10, 4]

In [ ]:
sorted(name,key=lambda x:len(x))

['anuj', 'komalsingh', 'vishnu singh']

In [ ]:
people=[
    {'name':'vishnu','age':31,'occupation':'sme'},
    {'name':'anuj','age':27,'occupation':'teacher'},
    {'namne':'vandana','age':32,"occupation":'student'}
]

In [ ]:
people

[{'name': 'vishnu', 'age': 31, 'occupation': 'sme'},
 {'name': 'anuj', 'age': 27, 'occupation': 'teacher'},
 {'namne': 'vandana', 'age': 32, 'occupation': 'student'}]

In [ ]:
sorted(people,key=lambda x:x['age'])

[{'name': 'anuj', 'age': 27, 'occupation': 'teacher'},
 {'name': 'vishnu', 'age': 31, 'occupation': 'sme'},
 {'namne': 'vandana', 'age': 32, 'occupation': 'student'}]

In [ ]:
sorted(people,key=lambda x:x['occupation'])

[{'name': 'vishnu', 'age': 31, 'occupation': 'sme'},
 {'namne': 'vandana', 'age': 32, 'occupation': 'student'},
 {'name': 'anuj', 'age': 27, 'occupation': 'teacher'}]

In [ ]:
sorted(people,key=lambda x: x['age'])

[{'name': 'anuj', 'age': 27, 'occupation': 'teacher'},
 {'name': 'vishnu', 'age': 31, 'occupation': 'sme'},
 {'namne': 'vandana', 'age': 32, 'occupation': 'student'}]

In [ ]:
data={'a':10,'b':20,'c':14,'d':40}
max(data,key=lambda x:data[x])

'd'